name: Node.js CI

on:
  push:
    branches: [main, ci-with-testing]
  pull_request:
    branches: [main, ci-with-testing]

jobs:
  build:
    runs-on: ${{ matrix.os }} #ubuntu-latest
    #test
    strategy:
      matrix:
        os: [ubuntu-latest] # macos-latest, windows-latest
        node-version: [16.x]
        #See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "dog-grooming-api"
          heroku_email: "arun.gan1234@gmail.com"
